<p class='h6'>
Ich bin damit einverstanden, dass das Schnelltestzentrum Gudrunstr. 
6 im Falle eines positiven Covid-19-Schnelltestes die notwendigen persönlichen Daten (Name, Anschrift, E-Mail, Telefonnummer, Testergebnis) an das Gesundheitsamt der Bezirksämter in Berlin weitergibt.
Das zuständige Gesundheitsamt …darf meine Daten dann zur direkten Kontaktaufnahme nutzen. 
</p>
<h3>Bestätigung des Kunden</h3>
<label for='customer_customer_confirmation' class='form-check-label'>
Ich habe davon Kenntnis, dass meine personenbezogenen Daten sowie das Befundergebnis,
verarbeitet und im Rahmen der Zweckbestimmung an das zuständige Gesundheitsamt übermittelt werden können.
<%= f.check_box :customer_confirmation, class: 'p2' %>
</label><br>
<p class='h6'>
Weiterhin bin ich über folgende Punkte informiert worden und erkläre mich damit einverstanden:
</p>

<p>
<h6>Information zur abrechnungsbegründenden Dokumentation der Leistungen (Auftrags- und Leistungsdokumentation)</h6>
Nach § 7 Absatz 5 Satz 1 TestV ist die für den Nachweis der korrekten Durchführung und Abrechnung notwendige Auftrags-und Leistungsdokumentation weiterhin bis zum 31. Dezember 2024 unverändert zu speichern oder aufzubewahren. Mit der neuen TestV (ab 01.07.2021) wird in § 7 Absatz 5 Satz 2 zudem klargestellt, welche Nachweise zur Auftrags- und Leistungsdokumentation zählen.
Demnach sind für jede durchgeführte Testung der Vorname, der Familienname, das Geburtsdatum und die Anschrift der getesteten Person, die Art der Leistung, der Testgrund nach den §§ 2 bis 4b, der Tag, die Uhrzeit, das Ergebnis der Testung und der Mitteilungsweg an die getestete Person nachzuhalten (vgl. § 7 Absatz 5 Satz 2 Nummer 5 TestV).
Das Nähere zur Auftrags-und Leistungsdokumentation regelt die Kassenärztliche Bundesvereinigung in ihren Vorgaben.
</p>