
<div class='container-fluid'>
  
  <div class='col-sm-10 offset-1 p-3 border-1 border' >
    <%= render 'filters' %>
  </div>
  <div id='customer-data'>
    <%= render 'index' %>
  </div>
  </div>
</div>