<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <%#= nav_link('Dashboard', admin_path, 'hnc-desktop') %>
    </ul>
  </section>
</aside>